.header {
    grid-area: h;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.89);
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

.header img {
    width: 40px;
    height: 40px;
}